{% load static i18n core_tags %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>
      {% block title %}
        Simple Building Manager
      {% endblock title %}
    </title>

    {% block head %}

{% include 'includes/head_meta.html' %}

    {% endblock head %}
               
    {% block javascript %}

      <script defer
              src="{% static 'js/project.js' %}?version={{ SIMPLEBUILDINGMANAGER_JAVASCRIPT_VERSION }}"></script>
    {% endblock javascript %}

    {% block css %}

{% include 'includes/core_css_includes.html' %}

    {% endblock css %}
  </head>
  <body {% if csrf_token %}hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'{% endif %} class=" 
    {% block bodyclass %}
 d-flex flex-column min-vh-100 flex-grow-1 {% endblock bodyclass %}">

      {% block messages %}

        <section id="messages">
          {% if messages %}

{% include 'core/includes/toasts.html' %}

          {% endif %}
        </section>
      {% endblock messages %}

      {% block body %}

        {% block top_nav %}

{% include "core/includes/top_nav.html" %}

        {% endblock top_nav %}

        {% block breadcrumbs %}

          <div id="breadcrumbs-wrapper" class=" 
            {% block breadcrumbs_styles %}
 {% endblock breadcrumbs_styles %}">

{% include "includes/breadcrumbs.html" %}

            </div>
          {% endblock breadcrumbs %}

          {% block main %}

            <div class="container-fluid flex-grow-1 d-flex flex-row  w-100 h-100 p-0">

              {% block left_sidebar %}

              {% endblock left_sidebar %}
              <div class="d-flex flex-column w-100 h-100 p-0">

                {% block content %}

                  {% comment %}
             content goes here
                  {% endcomment %}
                {% endblock content %}
              </div>

              {% block right_sidebar %}

              {% endblock right_sidebar %}
            </div>
          {% endblock main %}
        {% endblock body %}

        {% block modal %}

        {% endblock modal %}

        {% block inline_javascript %}

          {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
          {% endcomment %}
        {% endblock inline_javascript %}

      </body>
    </html>
